button {
    width: auto;
    height: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    margin-top: -2px;
}

#friend-list-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%; /* Set the desired width of the form, e.g., 80% of the container */
    max-width: 800px;
    margin-top: -2px;
}

#friend-list-form input {
    margin: 5px;
    flex-grow: 1; /* Allow the input to grow and take available space */
    height: 50px;
    font-size: 16px;
}

#friend-list-form button {
    margin: 5px;
    height: 50px; /* Match the button height to the input height */
    flex-shrink: 0; /* Prevent button from shrinking */
}

#friendListContainer {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friend-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 800px;
    padding: 15px; /* Add padding for better spacing */
    margin: 10px 0; /* Add margin between items */
    background-color: #f5f5f5;
    border-radius: 10px; /* Round the corners of the rectangles */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a 3D effect */
}

.friend-name {
    font-size: 18px;
}

.connection-status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.connected {
    background-color: green;
}

.disconnected {
    background-color: red;
}

/* From Uiverse.io by Custyyyy */
.button {
 align-items: center;
 background-color: #FFFFFF;
 border: 1px solid rgba(0, 0, 0, 0.1);
 border-radius: .25rem;
 box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
 box-sizing: border-box;
 color: rgba(0, 0, 0, 0.85);
 cursor: pointer;
 display: inline-flex;
 font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 16px;
 font-weight: 600;
 justify-content: center;
 line-height: 1.25;
 min-height: 3rem;
 padding: calc(.875rem - 1px) calc(1.5rem - 1px);
 text-decoration: none;
 transition: all 250ms;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 vertical-align: baseline;
 width: auto;
}

.button:hover,
.button:focus {
 border-color: rgba(0, 0, 0, 0.15);
 box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
 color: rgba(0, 0, 0, 0.65);
}

.button:hover {
 transform: translateY(-1px);
}

.button:active {
 background-color: #F0F0F1;
 border-color: rgba(0, 0, 0, 0.15);
 box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
 color: rgba(0, 0, 0, 0.65);
 transform: translateY(0);
}