button {
    width: auto;
    height: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    margin-top: -2px;
}

#friend-list-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%; /* Set the desired width of the form, e.g., 80% of the container */
    max-width: 800px;
    margin-top: -2px;
}

#friend-list-form input {
    margin: 5px;
    flex-grow: 1; /* Allow the input to grow and take available space */
    height: 50px;
    font-size: 16px;
}

#friend-list-form button {
    margin: 5px;
    height: 50px; /* Match the button height to the input height */
    flex-shrink: 0; /* Prevent button from shrinking */
}

#friendListContainer {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friend-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 800px;
    padding: 15px; /* Add padding for better spacing */
    margin: 10px 0; /* Add margin between items */
    background-color: #f5f5f5;
    border-radius: 10px; /* Round the corners of the rectangles */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a 3D effect */
}

.friend-name {
    font-size: 18px;
}

.connection-status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.button {

}

.connected {
    background-color: green;
}

.disconnected {
    background-color: red;
}