{% extends 'two_factor/_base.html' %}
{% load static %}

{% block page_content %}
<div id="login_div">
    <h1>Login</h1>
    <form method="POST" id="login-form" action="{% url 'login_session' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" name="login">Login</button>
    </form>
    <div id="error-message" style="color: red;"></div>
    <button class="popupboutton" id="register">Sign in</button>
</div>
{% endblock %}

