{% load static %}

<h1>Multiversus</h1>

{% include "authentication/navbar.html" %}
<link rel="stylesheet" href="{% static 'css/lobby.css' %}">
<div class="game" id="gamecanvas">
    <div class="lobby" id="lobby_div">
        <div class="button_div">
            <button id="btn_tournament" class="button">Tournaments</button>
            <button id="btn_matchmaking_1v1" class="button">MatchMaking 1v1</button>
            <button id="btn_match_ai" class="button">Match vs AI</button>
        </div>
        <h1 id="mode_name">MatchMaking 1v1</h1>
        <div id="lobby_content">
            <div class="player_div">
                <h2>Player 1</h2>
                <p>{{ user.username }}</p>
            </div>
            <div class="center_div">VS</div>
            <div class="player_div">
                <h2>Player 2</h2>
                <p id="opponent_name">...</p>
            </div>
        </div>
        <button class="button" id="start_research">SEARCH OPPONENT</button>
    </div>
</div>


{#    <canvas id="canv" height="1080" width="2040" style="border: 4px solid black"></canvas>#}
