<div class="player_div">
    <label for="player_1">Player 1</label>
    <input type="text" id="player_1" class="player_name" name="player_1" required minlength="1" maxlength="12"/>
</div>
<div class="center_div">VS</div>
<div class="player_div">
    <label for="player_2">Player 2</label>
    <input type="text" id="player_2" class="player_name" name="player_2" required minlength="1" maxlength="12"/>
</div>
<div class="player_div">
    <label for="player_3">Player 3</label>
    <input type="text" id="player_3" class="player_name" name="player_3" required minlength="1" maxlength="12"/>
</div>
<div class="center_div">VS</div>
<div class="player_div">
    <label for="player_4">Player 4</label>
    <input type="text" id="player_4" class="player_name" name="player_4" required minlength="1" maxlength="12"/>
</div>