{% load static %}
<link id='lobby_css' rel="stylesheet" href="{% static 'css/tournament_bracket.css' %}">
<div class="bracket">
    <div class="semi-finals">
        <div class="match semi-final">
            <p>Semi-final 1</p>
            <div class="team box">{{ lobby.P1.username }}</div>
            <div class="team box">{{ lobby.P2.username }}</div>
        </div>
        <div class="match semi-final">
            <p>Semi-final 2</p>
            <div class="team box">{{ lobby.P3.username }}</div>
            <div class="team box">{{ lobby.P4.username }}</div>
        </div>
    </div>
    <div class="finals-group">
        <div class="finals">
            <div class="match final">
                <p>Final Match</p>
                <div class="team box">...</div>
                <div class="team box">...</div>
            </div>
        </div>
        <div class="second-finals">
            <div class="match third-place">
                <p>Third place match</p>
                <div class="team box">...</div>
                <div class="team box">...</div>
            </div>
        </div>
    </div>
</div>
