{% extends 'two_factor/_base.html' %}
{% load static %}

{% block page_content %}
<h1>Two-Factor Authentication</h1>
<p>Please enter your authentication token.</p>
<form id="checker" method="post" action="{% url 'redirect_to_2fa_checker' %}">
    {% csrf_token %}
    <label for="otp_device">Select OTP Device:</label>
    {{ form.otp_device }}
    <label for="otp_token">OTP token:</label>
    {{ form.otp_token }}
    <button type="submit">Verify</button>
    <div id="error-message" style="color: red;">
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
           {% endif %}
    </div>
</form>
{% endblock %}
