{% load static %}

<nav class="navbar">
    <button class="popupboutton" id="register">Sign in</button>
    <button class="popupboutton" id="login">Log in</button>
</nav>

<div class="popupcontainer" id="registration_container">
    <div id="registration_box" class="popupbox">
        {% include 'authentication/registration_popup.html' %}
    </div>
</div>
<div class="popupcontainer" id="login_container">
    <div id="login_box" class="popupbox">
        {% include 'authentication/login_popup.html' %}
    </div>
</div>