{% load static %}

<form id="profile_form" enctype="multipart/form-data">
    {% csrf_token %}
    <label>
        {% if player.profile_picture %}
            <img src="{{ player.profile_picture.url }}" alt="" width="200px" height="200px">
        {% endif %}
        <br><br>
        <span>new profile picture :</span>
        <input type="file" id="newpp" name="profile_picture" accept=".png, .jpg, .jpeg">
        <br><br>
    </label>
    <label>
        {{ registration_form.username }}
        <span>username : {{ player.username }}</span>
        <br><br>
    </label>
    <label>
        {{ registration_form.email }}
        <span>Email</span>
        <br><br>
        </label>
    <label>
        <span>Password</span>
        <br><br>
    </label>
    <button class="submit" type="submit" id="profile_submit">save change</button>
</form>