{% load static %}

<img src="media/{{ player.profile_picture }}" alt="" width="200px" height="200px">


<form id="registration">
    {% csrf_token %}
    <label>
        {{ registration_form.username }}
        <span>username : {{ player.username }}</span>
        <br><br>
    </label>
    <label>
        {{ registration_form.email }}
        <span>Email</span>
        <br><br>
        </label>
    <label>
        {{ registration_form.password1 }}
        <span>Password</span>
        <br><br>
    </label>
</form>