{% load static %}

<h1>SIGN IN</h1>
        <form id="registration">
            {% csrf_token %}
            <label>
                {{ registration_form.username }}
                <span>Username</span>
                <br><br>
            </label>
            <label>
                {{ registration_form.email }}
                <span>Email</span>
                <br><br>
                </label>
            <label>
                {{ registration_form.password1 }}
                <span>Password</span>
                <br><br>
            </label>
            <label>
                {{ registration_form.password2 }}
                <span>Confirm Password</span>
                <br><br>
            </label>
            <label>
                <button class="close" id="Rclose">X</button>
                <button class="submit" type="submit" id="registersubmit">Register me</button>
            </label>
        </form>