{% extends "index.html" %}
{% load static %}

{% block content %}
    <h1>Social</h1>
    {% include "authentication/navbar.html" %}
    <link rel="stylesheet" href="{% static 'css/social.css' %}">
    <div class="form-container">
        <form id="social-form">
            <input type="search" id="searchbar" name="username" placeholder="Search...">
            <button type="submit" id="friend_invite">Invite</button>
        </form>
        <div class="button_div">
            <button class="button" type="button" id="friends">Friends</button>
            <button class="button" type="button" id="request">Requests</button>
            <button class="button" type="button" id="pending">Pending</button>
        </div>
        <ul id="ListContainer" class="ListContainer">
            <!-- Friend list items will be appended here -->
        </ul>
    </div>
{% endblock %}