{% extends "index.html" %}
{% load static %}

{% block content %}
    <h1>Social</h1>
    {% include "authentication/navbar.html" %}
    <link rel="stylesheet" href="{% static 'css/social.css' %}">
    <div class="profile_popup" id="profile_popup">
        <div class="profile_popup_container" id="profile_popup_content">
            <button type="submit" class="close_profile_popup"> X </button>
        </div>
    </div>
    <div class="form-container">
        <form id="social-form">
            <input type="search" id="searchbar" name="username" placeholder="Search friend...">
            <button type="submit" id="friend_invite" class="button">Invite</button>
        </form>
        <div class="button_div">
            <button class="button" type="button" id="friends">Friends</button>
            <button class="button" type="button" id="request">Requests</button>
            <button class="button" type="button" id="pending">Pending</button>
        </div>
        <ul id="ListContainer" class="FriendListContainer">
            <!-- Friend list items will be appended here -->
        </ul>
    </div>
    <div id="snackbar" class="snackbar_visibility">Error</div>
{% endblock %}